<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <link rel="stylesheet" type="text/css" href="../css/style.css">
   <link rel="stylesheet" type="text/css" href="../css/ionicons.min.css"> -->
</head>
<body>
   <div r-header>
      <h2>Rigel.js</h2>
      <div class="right">
         <a href="https://github.com/teja42/rigel.js" target="_blank">
           <i class="ion-social-github"></i> Github
         </a>
         <button id="view:docs">
           <i class="ion-ios-paper-outline"></i> Docs
         </button>
      </div>
   </div>
</body>
<style>

   .right{
      float: right;
   }

   a,button{
      color: white;
   }

   [r-header]>*{
      padding: 15px;
      font-weight: 500;
      color: white;
      display: inline-block;
   }

   [r-header]{
      background: rgba(0,0,0,0.80);
      background-blend-mode: color;
      width: 100%;
      min-height: 70px;
      box-shadow: 1px 0px 2px 5px rgba(0, 187, 255, 0.473);
   }

</style>
</html>